<header class="bg-white flex justify-between items-center lg:items-center gap-4 lg:justify-around py-4 ">
  <div class="flex gap-3 items-center ml-2 lg:ml-0">
    <a href="#" class="ml-5 lg:hidden">
      {% render 'icon-hamburger-menu' %}
    </a>
    <a href="/" >
      <img src="{{section.settings.header_logo | image_url }}" height="52" width="52" alt="JCC logo" class="">
    </a>
  </div>
  
  
    <nav class="nav-links bg-white absolute left-[-100%] lg:static min-h-max top-[9.2%] h-full lg:h-auto w-full md:w-[50%] lg:w-auto lg:w-auto">
      <ul class="flex flex-col lg:flex-row lg:gap-[1.5vw]">
            {% for link in linklists.main-menu.links %}
              {% if link.active %}
                <li class="bg-red-100 text-jcc-red px-3 lg:rounded-sm text-black/70">
                  <a class="block w-full h-full py-[2vh] lg:py-2">{{ link.title }}</a>
                </li>
                {% else %}
                <li class="hover:bg-red-100 hover:text-jcc-red px-3 lg:rounded-sm text-black/70">
                  <a class="block w-full h-full py-[2vh] lg:py-2" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          
      </ul>
    </nav>
 
    <ul id="shopify-icons" class="flex mr-5 lg:mr-0 lg:flex-row gap-1 lg:gap-5 text-black/70">
      <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-search' %}</li></a>
      <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-user' %}</li></a>
      <a href="#"><li class="p-2 rounded-sm hover:bg-red-100 hover:text-jcc-red">{% render 'icon-shopping-bag' %}</li></a>
    </ul>
  


  

</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    }
  ]
}
{% endschema %}
