<div class="hero mt-20 py-20 lg:pt-5 bg-radial-[350px_at_59%_70%] from-hero-yellow1 via-hero-yellow2 to-hero-yellow3 lg:bg-radial-[750px_at_70%_56%] from-hero-yellow1 via-hero-yellow2 to-hero-yellow3 w-full h-[89vh] lg:h-[91vh]">
    <div class="hero-content flex flex-col text-black lg:flex-row lg:justify-around lg:gap-30">
        <div class="hero-text flex flex-col items-center lg:items-start justify-center gap-3">
            <div class="sub-heading font-semibold relative lg:translate-x-30">
                <span class="text-left before:block before:w-27 before:h-0.5 before:bg-black before:absolute before:left-[-120px] before:top-3 after:block after:w-27 after:h-0.5 after:bg-black after:absolute after:right-[-120px] after:top-3 lg:after:hidden" >
                    TART WITH A HE<span class="inline-block w-4 h-4 bg-[url(//agritechsolutions.myshopify.com/cdn/shop/t/3/assets/hero-tart-heart.png?v=39580302187775696551757876333')] bg-no-repeat bg-contain bg-bottom relative top-0.5)] bg-no-repeat bg-contain bg-bottom relative top-0.5"></span>RT</span>
            </div>
            <div class="heading font-poppins text-[36px] lg:text-[50px] font-extrabold text-center lg:text-left">
                <h1>Joe's World Famous Calamansi Pie</h1>
            </div>
            <div class="description flex flex-col gap-12 items-center lg:items-start">
                <p class="text-center lg:text-left text-xl">
                    A delicious pie made with the fresh, tangy taste of calamansi, perfectly balanced with sweetness.
                </p>
                <div class="flex flex-col items-center lg:items-start gap-5 lg:gap-10">
                    <div class="hero-buttons flex gap-5">
                        <button class="btn btn-outline px-10 rounded-tl-xl rounded-br-xl hover:hover:bg-black/10 hover:text-black">Our Story</button>
                        <button class="btn btn-neutral rounded-tl-xl rounded-br-xl hover:bg-hero-brown"> {% render 'icon-shopping-cart' %} Shop Now</button>
                    </div>
                    <div class="hero-benefits flex gap-10 font-medium">
                        <p class="before:bg-no-repeat before:relative before:top-1 before:mr-1 before:inline-block before:h-4 before:w-4 before:bg-[url({{ 'hero-footer-check.png' | asset_url }})]">100% Organic</p>
                        <p class="before:bg-no-repeat before:relative before:top-1 before:mr-1 before:inline-block before:h-4 before:w-4 before:bg-[url({{ 'hero-footer-check.png' | asset_url }})]"> Fresh Daily</p>
                        <p class="before:bg-no-repeat before:relative before:top-1 before:mr-1 before:inline-block before:h-4 before:w-4 before:bg-[url({{ 'hero-footer-check.png' | asset_url }})]"> Vitamin C</p>
                    </div>
                </div>
            </div>

            
        </div>

        

         <div class="hero-image">
            <img width="280" height="280" class=" -rotate-[0.242rad] lg:w-250 lg:translate-y-10" src="{{ 'hero-calamansi-pie.png' | asset_img_url: '1000x1000'}}"  alt="">
        </div>
    </div>

   
    
</div>