<div class="m-10 text-green-950">
    <div>
        <img height="{{ 'calamansi-pie-placeholder.jpg' | file_img_url }}" width="" src="" alt="">
    </div>
    <div>
        <p>
            The perfect balance of sweet and tangy! This calamansi tart is my new favorite dessert. Fresh, zesty, and so unique.
        </p>
    </div>
</div>