<div class="hero bg-radial-[350px_at_59%_70%] from-hero-yellow1 via-hero-yellow2 to-hero-yellow3 lg:bg-radial-[750px_at_69%_50%] from-hero-yellow1 via-hero-yellow2 to-hero-yellow3 w-full h-[80vh]">

</div>