<div class="mt-10 py-10 px-5 text-center flex flex-col items-center gap-3 lg:px-40">
    <div class="relative flex items-center gap-3">
        {%- render 'icon-FFT-left-title' -%}
        <h1 class="text-yellow-300 text-3xl font-semibold font-poppins">Fresh from the tropics</h1>
        {%- render 'icon-FFT-right-title'-%}
    </div>

    <p class="text-green-950 lg:w-190">Each tart begins with hand-picked calamansi, pressed for their vibrant juice, then blended into a smooth, tangy filling. Baked in a crisp golden crust, it’s a taste of sunshine in every bite.</p>
    
</div>