<section style="background-image: url('{{ 'hero-image-edited-2.png' | file_img_url: '4000x4000' }}')" class="bg-cover  xl:bg-size-[100dvw_64dvw] bg-no-repeat bg-bottom-center lg:bg-position-[22%_35%]  min-h-[100dvh]">
    <div class="bg-[linear-gradient(to_right,rgba(0,0,0,0.8),rgba(0,0,0,0.3))] min-h-[100dvh] py-20 pt-70 sm:px-10 flex flex-col items-center text-white justify-center lg:flex-row lg:justify-start lg:px-60 lg:gap-10">
        <div class="flex flex-col items-center lg:items-start justify-center gap-3 lg:max-w-190">
            <div class="heading font-poppins lg:leading-15 text-5xl font-extrabold text-center lg:text-left">
                <h1>Joe's World Famous <span class="text-yellow-300">Calamansi Pie</span></h1>
            </div>

            <div class="sub-heading font-semibold relative lg:translate-x-30">
                <span class="text-left text-yellow-300 before:block before:w-15 sm:before:w-27 before:h-0.5 before:bg-yellow-300 before:absolute before:left-[-65px] sm:before:left-[-114px] before:top-3 after:block after:w-15 sm:after:w-27 after:h-0.5 after:bg-yellow-300 after:absolute after:right-[-65px] sm:after:right-[-120px] after:top-3 lg:after:hidden" >
                    TART WITH A HE<span style="background-image: url('{{ 'hero-tart-heart.png' | file_img_url }}')" class="animate-bounce inline-block w-4 h-4 bg-no-repeat bg-contain bg-bottom relative top-0.5"></span>RT</span>
            </div>
            
            <div class="description flex flex-col gap-10 items-center lg:items-start">
                <p class="text-center lg:text-left text-xl">
                    We here at Joe's are excited to bring you tangy and sweet goodness. From our hearts to yours. We use all natural ingredients and the finest Calamansi in all of the PH. Give Joe a go! You'll be glad you did!
                </p>
                <div class="flex flex-col items-center lg:items-start gap-5 lg:gap-10">
                    <div class="hero-buttons flex gap-5">
                        <button data-scroll-to="section[id*=__newsletter]" class="scroll-button btn btn-outline sm:px-10 rounded-tl-xl rounded-br-xl hover:hover:bg-white hover:text-black">Our Story</button>
                        <button data-scroll-to="section[id*=__newsletter]" class="scroll-button btn bg-yellow-300 text-black rounded-tl-xl rounded-br-xl hover:bg-yellow-400"> {% render 'icon-shopping-cart' %} Shop Now</button>
                    </div>
                    <div class="text-xs xl:text-lg flex gap-3 sm:gap-10 font-medium text-yellow-300">
                        <p class="flex sm:gap-1 items-center"> {% render 'icon-hero-check' %} 100% Real butter</p>
                        <p class="flex sm:gap-1 items-center"> {% render 'icon-hero-check' %} 100% Fresh calamansi</p>
                        <p class="flex sm:gap-1 items-center"> {% render 'icon-hero-check' %} 100% Awesomeness</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% comment %} <div class="absolute inset-0 bg-gradient-to-r from-[#1e2026] to-[#000000] opacity-90"></div> {% endcomment %}

